# Model filename inside ./models
MODEL_FILE=Qwen3.5-4B-M-TS-Q4_K_M.gguf

# Context size
CONTEXT_SIZE=8192

# CPU tuning
LLAMA_THREADS=6
LLAMA_THREADS_BATCH=12
LLAMA_BATCH_SIZE=2048
LLAMA_UBATCH_SIZE=512

# Ports
LLAMA_PORT=8080
LITELLM_PORT=4000
OPENWEBUI_PORT=3000
